.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { grid-area: item4; }
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }
.item9 { grid-area: item9; }
.item10 { grid-area: header; }

.board {
    
    background-color: #2196F3;
    border: solid black 2px;
    column-gap: 30px;
    row-gap: 20px;
    display: grid;
    grid-template-areas: 'header header header header header header header'
                         'item1 item1 item2 item2 item2 item3 item3'
                         'item1 item1 item4 item4 item4 item3 item3'
                         'item1 item1 item9 item9 item9 item5 item5'
                         'item6 item6 item6 item7 item7 item8 item8'
}
.board div{
    text-align: center;
    border: solid black 2px;
}
